  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.unique_id}}" placeholder="unique_id" name="unique_id">
      <label for="floatingInput">Identifikacijska številka</label>
    </div>
  </div>
  {{!-- <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.name}}" placeholder="Name" name="name">
      <label for="floatingInput">Ime</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.surname}}" placeholder="surname" name="surname">
      <label for="floatingInput">Priimek</label>
    </div>
  </div> --}}
 
  <div class="col-12 d-grid">
    <button class="btn btn-primary" type="submit">Oddaj</button>
  </div>